.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9998;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    z-index: 10000;
}

/* Ensure header and footer stay above */


.popup-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.8s ease-out forwards;
}

.modal {
    background: #FFF;
    -webkit-box-shadow: 0 2px 5px rgba(18, 17, 17, 0.38);
    box-shadow: 0 2px 5px rgba(18, 17, 17, 0.38);
    margin: auto;
    width: 75vw;
    height: 70dvh;
    display: grid;
    grid-template-columns: 40% 60%;
}


.intro-block-left,
.intro-block-right {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	box-sizing: border-box;
    height: 100%;
    position: relative;
}
.intro-block-left img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
	animation: fadeSlideLeft 1s ease-out forwards;
}

.intro-block-image img {
    filter: invert(1);
    height: 120px;   
}

.intro-block-right {
	flex-direction: column;
	text-align: left;
	animation: fadeSlideRight 1s ease-out forwards;
    padding: 40px;
}

.intro-block-right h1 {
	font-size: 2.8rem;
	margin: 0;
}

.intro-block-right h2 {
	font-size: 22px;
    color: #333333;
    font-weight: 400;
	margin: 0;
}

.intro-block-description {
    text-align: center;
}

.intro-block-right p {
	font-size: 16px;
	line-height: 1.8;
    margin-top: 0;
	margin-bottom: 10px;
}

.memory-popup   .leaflet-popup-content {
    width: 100% !important;
}

/* Animaciones */
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeSlideLeft {
	from { opacity: 0; transform: translateX(-30px); }
	to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeSlideRight {
	from { opacity: 0; transform: translateX(30px); }
	to { opacity: 1; transform: translateX(0); }
}

/* Desktop/Mobile image handling */
.intro-block-left.mobile-image {
    display: none;
}


#popup-memory-form {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


#popup-memory-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 69, 105, 0.9); /* color de fondo azul con transparencia */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#popup-memory-form .popup-content {
    background-color: #fff;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    color: #194569;
    text-align: center;
}

#popup-memory-form .popup-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#popup-memory-form .popup-content p {
    font-size: 16px;
    color: #333;
    margin-bottom: 0;
}

.privacy-text {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

.privacy-text a {
    color: #fff;
    text-decoration: underline;
}


#popup-memory-form .popup-content h4 {
    font-size: 20px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
}


#popup-memory-form .popup-content form {
    margin-top: 20px;
}

#popup-memory-form .popup-content input[type="text"],
#popup-memory-form .popup-content input[type="email"],
.popup-content select,
.popup-content textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 0;
    border: 1px solid #194569;
    border-radius: 5px;
    background: #fff;
    color: #194569;
    font-size: 16px;
}

/* Oculta el texto que viene con el checkbox */
.checkbox-group .custom-checkbox input[type="checkbox"] + span {
    display: none;
}
.wpcf7-list-item {
    margin: 0       ;
}

.wpcf7-spinner {
        display: block;
        margin: 10px auto 0 auto;
}
.wpcf7-not-valid-tip {
    display: none;
}

.checkbox-group label.custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    color: #000; /* Ajustá según tus colores */
    text-align: left;
}

.checkbox-group label.custom-checkbox input[type="checkbox"] {
    margin-top: 4px;
    flex-shrink: 0;
}

.checkbox-group label.custom-checkbox span a {
    color: #194569;
    text-decoration: underline;
}


#popup-memory-form .popup-content input[type="submit"],
#popup-memory-form .popup-content button[type="submit"] {
    cursor: pointer;
    background-color: #194569;
    border: 1px solid #194569;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;      
}

#popup-memory-form .popup-content input[type="submit"]:hover {
    background-color: #fff  ;
    color: #194569;
    transform: translateY(2px);
    border: 1px solid #194569;
}

#popup-memory-form .close-popup {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #194569;
}

/* Estilos para el overlay del popup */
#popup-thank-you {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Contenido del popup */
#popup-thank-you .popup-content {
    max-width: 600px;
    width: 90%;
    text-align: center;
}

/* Botón de cerrar */
#popup-thank-you .close-popup {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 28px;
    cursor: pointer;
    color: #333;
}

/* Títulos */
#popup-thank-you h3 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #194569;
    font-weight: bold;
}

/* Texto normal */
#popup-thank-you p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Línea separadora */
hr {
    margin: 30px auto;
    border: none;
    border-top: 1px solid #ccc;
    width: 80%;
}

@media (max-width: 1440px) {
    .modal {
        width: 70vw;
    }
    .intro-block-right {
        padding: 0 20px;
    }
    .intro-block-image img {
        height: 80px;
    }

    .intro-block-right h2 {
        font-size: 20px;
    }
    .button {
        font-size: 16px;
    }
    .site-logo {
        height: 80px;
    }
}

@media (max-width: 768px) {
    .modal {
        width: 96vw;
    }
    .intro-block-right h2 {
        font-size: 18px;
    }
    .button {
        font-size: 14px;
    }
}
@media (max-width: 600px) { 
    .modal {
        grid-template-columns: 1fr;
        height: auto; /* Asegura que crezca según contenido */
    }

    .intro-block-left, 
    .intro-block-right {
        width: 100%;
        height: auto; /* O por ejemplo, height: 50vh si querés un tamaño fijo */
    }

    .intro-block-right {
        margin-bottom: 20px;
    }

    .intro-block-left img {
        position: relative;
        height: auto;
        max-height: 300px; /* Ajusta según diseño */
    }
    .intro-block-left.desktop-image {
        display: none;
    }
    
    .intro-block-left.mobile-image {
        display: block;
    }

    .button {
        padding: 15px 20px;
    }

    #popup-memory-form .popup-content input[type="submit"],
#popup-memory-form .popup-content button[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
}
    
}

@media (max-width: 440px) { 
    .memory-popup .leaflet-popup-content {width: auto !important;}
    .leaflet-popup-content .memory-form {width: 300px !important; padding: 0 !important;}
}